
@font-face { 
    font-family: StarWars;
    src: url(Stjldbl2.ttf);
 }


 @keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

ul{
    color: rgb(245, 232, 121);
    font-family: StarWars;
    align-content: center;
    text-align: center;
    padding: 20px;
    font-size: 34px;
}

button, #button{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    padding: 20px;
    background-color: #00000000;
    border: none;
    text-decoration: underline;
    font-size: 14px;
}

li{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    justify-content: center;
    list-style-type: disc;
    text-decoration: none;
    width: 100%;
    margin: auto;
    list-style: none;
}

#app { 
    min-height: 100%;
    margin: 0px;
    align-items: center;
    position: absolute;
    background:linear-gradient(179deg, #000000, #3f3e3e,#302f2f, #1b1b1b);
    background-size: 1500% 1500%;
    -webkit-animation: rainbow 10s ease infinite;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    align-items: center;
    margin: auto;
    padding: 10px; 
}


body{
    margin:0px;
}





  
